<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 <div class="pagination">
     <span class="step-link">
         {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number}}">Anterior</a>
         {% endif %}
         <span class="current">
             Página {{ page.number}} de {{ page.paginator.num_pages }}.
         </span>
         {% if page.has_next %}
         <a href="?page={{ page.next_page_number}}">Próxima</a>
         {% endif %}
     </span>
 </div>
</body>
</html>